<app-navbar></app-navbar>
<div class="container-full bg-dark">
    <div class="row">
        <br />
        <br />
        <br />
    </div>
    <div class="row justify-content-center text-center">
        <div class="card text-white bg-danger mb-3 shadowed" style="max-width: 30rem;">
            <div class="card-body">
                <h5 class="card-title">Explore Movie Magic Today!</h5>
                <p class="card-text">Enter a postcode to find cinemas and showings near you!</p>
                <div class="active-red-3 active-red-4 mb-4">
                    <input class="form-control" type="text" placeholder="e.g 'TS1 3BX'" aria-label="Search">
                </div>
                <button type="button" class="btn btn-danger active">Search</button>
            </div>
        </div>
    </div>
</div>