<app-navbar></app-navbar>
<div class="container-full darkest-bg">
    <div class="row">
        <br />
        <br />
        <br />
    </div>
    <div class="row justify-content-center text-center">
        <div class="card text-white bg-danger mb-3 shadowed midcard">
            <div class="card-body">
                <h5 class="card-title">Explore Movie Magic Today!</h5>
                <p class="card-text">Enter a postcode to find cinemas and showings near you!</p>
                <div class="active-red-3 active-red-4 mb-4">
                    <input #postcode class="form-control" type="text" (keyup.enter)="validatePostcode(postcode.value)"
                        placeholder="e.g 'TS1 3BX'" aria-label="Search">
                </div>
                <div class="error-message">
                    <p [hidden]="validPostcode">Invalid postcode</p>
                </div>
                <button type="button" (click)="validatePostcode(postcode.value)"
                    class="btn btn-danger active">Search <i *ngIf="cinemasLoading" class="fa fa-spinner fa-spin"></i> </button>
            </div>
        </div>
    </div>
    <div *ngIf="cinemasLoaded()" class="row">
        <div *ngFor="let cinema of cinemasList; let i = index" class="col-md-6 col-lg-4 col-sm-12 col-xs-12">
            <div class="card text-white bg-danger shadowed spaced clickable"  [ngx-scroll-to]="'cinemaPlaceholder'">
                <div class="card-body" (click)="getShowings(i)">
                    <h5 class="card-title" *ngIf="cinema.name">{{cinema.name}}</h5>
                    <p class="card-text" *ngIf="cinema.name">only {{cinema.distance}} miles away</p>
                    <a href="{{cinema.website}}" target="_blank" *ngIf="cinema.name" class="card-text link">
                        <u>Website</u><i class="fa fa-external-link left"></i><br/>
                    </a>
                    <a href="tel:{{cinema.phone}}" target="_blank" *ngIf="cinema.name" class="card-text link">
                        <u>Phone</u><i class="fa fa-phone left"></i><br/>
                    </a>
                    <a href="https://www.google.com/maps/search/?api=1&query={{cinema.name}}" target="_blank" class="card-text link">
                        <u>Maps</u><i class="fa fa-map-marker left"></i><br/>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <span id="cinemaPlaceholder"></span>
    <div *ngIf="showFocusedCinema">
        <div class="row justify-content-center text-center midcard">
            <div class="card text-white bg-danger shadowed spaced ">
                <div class="card-body" id="focusedCinema">
                    <h5 class="card-title">Displaying showings for:</h5>
                    <h5 class="card-title">{{focusedCinema.name}}</h5>
                </div>
            </div>
        </div>
    </div>
    <div *ngIf="listingsLoaded()" class="row">
        <div *ngFor="let listing of listings; let i = index" class="col-md-3 col-lg-2">
            <div class="card text-white darker-bg shadowed justify-content-center text-center">
                <div class="card-body">
                    <br />
                    <img class="image-card shadowed" [src]="getPoster(i)">
                    <h6 class="listing-text" title="{{listing.title}}">{{listing.title}}</h6>
                    <p class="listing-text">{{listing.rating}}/10</p>
                </div>
            </div>
            <br />
        </div>
    </div>
</div>